// out: "./main.css"
/* ANDRIX © 2023-2024 */

:root {
    --ui-bg-color-1: #080808;
    --ui-bg-color-2: #131313;
    --ui-bg-color-3: #1F1F1F;
    --text-color: #EEE;
    --main-blue: hsl(200, 83%, 42%);
    --audio-sample-color-0: hsl(0, 0%, 85%);
    --audio-sample-color-1: hsl(200, 83%, 43%);
    --audio-sample-color-2: hsl(230, 70%, 63%);
    --audio-sample-color-3: hsl(260, 90%, 53%);
    --audio-sample-color-4: hsl(290, 50%, 53%);
    --video-color-1: hsl(5, 83%, 42%);
    --box-shadow: white 0 0 20px 2px;
    --box-shadow-small: white 0 0 10px;
}
@font-face {
    font-family: "Tangerine";
    src: local("Tangerine"), url("../../sources/fonts/Tangerine-Regular.ttf");
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url("../../sources/fonts/Raleway-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway Light"), url("../../sources/fonts/Raleway-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway ExtraLight"), url("../../sources/fonts/Raleway-ExtraLight.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Raleway";
    src: local("Raleway Thin"), url("../../sources/fonts/Raleway-Thin.ttf");
    font-weight: 100;
}
/* Helpers */
p, a, label, h1, h2, h3, h4 {
    font-family: 'Raleway', 'Comic Sans MS', serif;
    color: var(--text-color);
}
.flexcol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.flexwrap {
    flex-wrap: wrap;
}
.flexcenter {
    justify-content: center;
}
.flexstart {
    justify-content: flex-start;
}
.flexend {
    justify-content: flex-end;
}
.flexbetween {
    justify-content: space-between;
}
.flexchildrenstart {
    align-items: flex-start;
}
.flexchildrenend {
    align-items: flex-end;
}
.flexselfstart {
    align-self: start;
}
.hoverable:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow);
}
.manuscript {
    font-family: 'Tangerine', 'Comic Sans MS', serif;
}
.center {
    text-align: center;
}
.fullwidth {
    width: 100%;
}

/* Generic elements */
.switch {
    margin: .5rem 0;
    width: 60px;
    min-width: 60px;
    height: 20px;
    padding: 5px;
    user-select: none;
    border-radius: 30px;
    cursor: pointer;
    border: solid 1.5px rgba(255, 255, 255, .7);
    position: relative;
    transition: background-color 200ms;

    .switch-inner {
        background: white;
        border: solid 1px rgba(0, 0, 0, .3);
        border-radius: 50%;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: left 200ms ease-out;
    }

    &.off {
        background-color: black;
    }
    &.on {
        background-color: var(--main-blue);
    }
    &.on .switch-inner {
        left: 45px;
    }

}
img[data-switch-on-img] {
    display: none;
}
.tile {
    width: 90px;
    height: 90px;
    cursor: pointer;
    position: relative;
    border: solid 1px rgba(255, 255, 255, .5);

    &.audio,
    &.video {
        border: 6px solid white;
    }
    &[data-visibility="hidden"] {
        display: none;
    }
    &:hover {
        box-shadow: var(--box-shadow);
    }
    &.visuals-reset {
        border-radius: 50%;
    }
    
}
img.item-preview {
    width: 80px;
    height: 80px;
    margin: 5px;
    border: solid 1px rgba(255, 255, 255, .4);

    &:hover {
        box-shadow: var(--box-shadow-small);
        cursor: pointer;
    }

    &.section {
        width: 120px;
        height: 120px;
        margin: 3px 10px 10px 3px;
    }
    &.mini-pioute {
        width: 40px;
        height: 40px;
    }
    &.semi-pioute {
        width: 60px;
        height: 60px;
    }
}
.visual {
    margin: 1rem .5rem;

    p.param-text {
        margin: 0;
        text-align: center;
    }

    .visuals-reset {
        border: solid 1px var(--text-color);
        height: 80px;
        width: 80px;
    }
}
.video {
    margin: .5rem 1rem 1rem;

    &.video-play {
        border-color: white;
    }
    &.video-stop {
        border-color: var(--video-color-1);
    }
}

/* Highlight when playing */
.audio-pause,
.video-stop {
    box-shadow: var(--box-shadow);
}

/* Page skeleton */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: black;
}
body {
    overflow-x: hidden;

    &.frozen {
        height: 100svh;
        overflow-y: hidden;
    }
}
header {
    height: 60px;
    width: 100vw;
    z-index: 10;
    position: fixed;
    top: 0;
    background: var(--ui-bg-color-1);
    border-bottom: solid 1px rgba(255, 255, 255, .2);
    padding-bottom: 0;

    h2 {
        font-weight: 100;
        font-size: 30px;
        line-height: 40px;
        margin: 0;
        padding-top: .3em;
        padding-left: .8em;
        font-size: 2rem;
    }
}
header #loadbar {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;

    #loadbar-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: var(--main-blue);
        transition: width 1ms ease-out; // Duration is overriden at will in JS
    }
}
#content {
    margin-top: 60px;

    h2 {
        font-size: 2.5rem;
    }

    & > div:not(#c) {
        &:nth-of-type(2n) {
            background: var(--ui-bg-color-2);
        }
        &:nth-of-type(2n+1) {
            background: var(--ui-bg-color-3);
        }
    }
}

/* Copyrights */
#c {
    background-color: var(--ui-bg-color-1);

    p {
        opacity: 0.5;
        font-size: .5rem;
        margin: 0;
    }
    p:nth-of-type(1) {
        margin-top: 1em;
    }
    p:last-of-type {
        margin-bottom: 1em;
    }
}

/* Text indications */
p.indication {
    font-size: .85rem;
    width: 5em;
    text-align: center;
    font-style: italic;

    &.red {
        color: red;
        font-size: bold;
    }
}

/* Sliders */
.confim-slider {
    margin: 1rem;
    
    input {
        margin-top: .5rem;
        width: 500px;
        max-width: calc(85vw - 2rem);
    }
    label {
        margin-top: .5rem;
    }
    .confim-slider-values {
        width: 100%;

        p {
            margin: 0;
            width: 3rem;
            text-align: center;
        }
        p.min {
            //padding-left: 5px;
        }
        p.mid {
            //padding: 0 10px;
        }
        p.max {
            //padding-right: 15px;
        }
        p#speed {
            font-size: 1.2rem;
        }
    }
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    display: none;
}
