/* ANDRIX © 2024 */
/* A tiny section for the welcome page */
.welcome#content {
  margin-top: 0;
}
.welcome #confim-control {
  text-align: center;
  background: black !important;
  /* Flemme de spécificité */
  padding-top: 1.5rem;
}
.welcome #confim-control h1 {
  font-weight: 200;
  margin: 0;
}
.welcome #confim-control p {
  margin-top: 0.5em;
}
.welcome #sub-apps {
  margin-top: 40px;
  padding: 1em 0 1.5em;
}
.welcome #sub-apps p {
  font-size: 1.5rem;
  margin: 20px;
  text-transform: uppercase;
}
.welcome #conf-info {
  background: var(--ui-bg-color-1);
  padding: 0.5em 1em 2em;
}
.welcome #conf-info h2,
.welcome #conf-info p {
  font-weight: 200;
}
.welcome #conf-info p {
  font-size: 1.4rem;
}
.welcome #c {
  position: absolute;
  bottom: 0;
  width: 100%;
}
