// out: "./speaker.css"
/* ANDRIX © 2024 */

/* Specific */
header {
    padding-bottom: 0;
}
header h2#title.speaker {
    font-size: 1.5rem;
    padding-top: 0.45em;
}

#steps {
    .step {
        display: flex;
        padding: 10px;
        @media (max-width: 320px) {
            flex-wrap: wrap;
        }

        &.active {
            background: black;
        }
        &:nth-of-type(2n):not(.active) {
            background: var(--ui-bg-color-2);
        }
        &:nth-of-type(2n+1):not(.active) {
            background: var(--ui-bg-color-3);
        }
        .action, .switch-action {
            user-select: none;
            cursor: pointer;
            margin: 3px;
            border-radius: 2px;
            border: solid 1.5px white;
            text-align: center;
            font-family: 'Raleway', 'Comic Sans MS', serif;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            padding: 5px;
            font-size: .8rem;
            text-transform: uppercase;

            &:hover {
                box-shadow: var(--box-shadow-small);
            }
        }
        .action {
            width: 120px;
            height: 60px;
            color: white;
            background: linear-gradient(hsl(20, 80%, 40%), hsl(355, 80%, 40%));
        }
        .switch-action {
            width: 130px;
            height: 60px;
            color: white;
            background: linear-gradient(hsl(195, 83%, 40%), hsl(220, 73%, 30%));
            border-radius: 20px;
        }
    }
    #toggles {
        margin-top: 15px;
    }
}
