/* ANDRIX © 2023-2024 */
/* Specific */
h2#title.speaker {
  font-size: 1.5rem;
  padding-top: 0.45em;
}
#brain-films img.cuts {
  height: 65px;
  width: 105px;
}
#chapters .chapter {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0;
}
@media (max-width: 320px) {
  #chapters .chapter {
    flex-wrap: wrap;
  }
}
#chapters .chapter.active {
  background: black;
}
#chapters .chapter:nth-of-type(2n):not(.active) {
  background: var(--ui-bg-color-2);
}
#chapters .chapter:nth-of-type(2n+1):not(.active) {
  background: var(--ui-bg-color-3);
}
#chapters .chapter .chapter-number {
  font-family: Rationale, Raleway, Comic Sans MS, sans-serif;
  font-size: 120px;
  transform: scale(0.4, 1);
  color: var(--text-color);
  width: 100px;
  margin: 0 -23px 0 -25px;
  opacity: 0.1;
  text-align: center;
}
#chapters .chapter.active .chapter-number {
  opacity: 0.8;
  text-shadow: #FFF5 0 0 20px;
}
#chapters .chapter#brain-chapter {
  padding-bottom: 20px;
}
#chapters #toggles {
  margin-top: 15px;
}
