/* ANDRIX © 2023-2024 */
/* Specific */
h2#title.speaker {
  font-size: 1.5rem;
  padding-top: 0.45em;
}
#items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}
#items-container img.confim-click {
  width: 200px;
  max-width: 100%;
  justify-self: center;
  outline: solid 2px rgba(255, 255, 255, 0.7);
  cursor: pointer;
  border-radius: 2px;
}
#items-container img.confim-click.active {
  outline: solid 3px white;
  box-shadow: var(--box-shadow);
}
#brain-films img.cuts {
  height: 65px;
  width: 105px;
}
/* Sliders */
.confim-slider {
  margin: 1rem;
}
.confim-slider input {
  margin-top: 0.5rem;
  width: 400px;
  max-width: calc(85vw - 2rem);
}
.confim-slider label {
  margin-top: 0.5rem;
}
.confim-slider .confim-slider-values {
  width: 100%;
}
.confim-slider .confim-slider-values p {
  margin: 0;
  width: 3rem;
  text-align: center;
}
.confim-slider .confim-slider-values p#speed {
  font-size: 1.2rem;
}
#steps .step {
  display: flex;
  padding: 10px;
}
@media (max-width: 320px) {
  #steps .step {
    flex-wrap: wrap;
  }
}
#steps .step.active {
  background: black;
}
#steps .step:nth-of-type(2n):not(.active) {
  background: var(--ui-bg-color-2);
}
#steps .step:nth-of-type(2n+1):not(.active) {
  background: var(--ui-bg-color-3);
}
#steps .step .action,
#steps .step .switch-action {
  user-select: none;
  cursor: pointer;
  margin: 3px;
  border-radius: 2px;
  border: solid 1.5px white;
  text-align: center;
  font-family: 'Raleway', 'Comic Sans MS', serif;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 0.8rem;
  text-transform: uppercase;
}
#steps .step .action:hover,
#steps .step .switch-action:hover {
  box-shadow: var(--box-shadow-small);
}
#steps .step .action {
  width: 120px;
  height: 60px;
  color: white;
  background: linear-gradient(hsl(20, 80%, 40%), hsl(355, 80%, 40%));
}
#steps .step .switch-action {
  width: 130px;
  height: 60px;
  color: white;
  background: linear-gradient(hsl(195, 83%, 40%), hsl(220, 73%, 30%));
  border-radius: 20px;
}
#steps .step#brain-step {
  padding-bottom: 20px;
}
#steps #toggles {
  margin-top: 15px;
}
.speaker img.item-preview:hover {
  box-shadow: var(--box-shadow-small);
  cursor: pointer;
}
.confim-slider#camera-speed label {
  text-align: center;
}
.confim-slider#camera-speed label span {
  display: block;
  opacity: 0.5;
}
@media (max-width: 450px) {
  .confim-slider#camera-speed .confim-slider-values {
    display: none;
  }
}
#cam-reset img {
  margin-bottom: 15px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 50%;
}
#cam-reset img:hover {
  box-shadow: white 0 0 5px;
}
