// out: "./speaker.css"
/* ANDRIX © 2023-2024 */

/* Specific */
h2#title.speaker {
    font-size: 1.5rem;
    padding-top: 0.45em;
}
#items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;

    img.confim-click {
        width: 200px;
        max-width: 100%;
        justify-self: center;
        outline: solid 2px rgba(255, 255, 255, .7);
        cursor: pointer;
        border-radius: 2px;

        &.active {
            outline: solid 3px white;
            box-shadow: var(--box-shadow);
        }
    }
}
#brain-films img.cuts {
    height: 65px;
    width: 105px;
}
/* Sliders */
.confim-slider {
    margin: 1rem;
    
    input {
        margin-top: .5rem;
        width: 400px;
        max-width: calc(85vw - 2rem);
    }
    label {
        margin-top: .5rem;
    }
    .confim-slider-values {
        width: 100%;

        p {
            margin: 0;
            width: 3rem;
            text-align: center;
        }
        p.min {
            //padding-left: 5px;
        }
        p.mid {
            //padding: 0 10px;
        }
        p.max {
            //padding-right: 15px;
        }
        p#speed {
            font-size: 1.2rem;
        }
    }

}

#steps {
    .step {
        display: flex;
        padding: 10px;
        @media (max-width: 320px) {
            flex-wrap: wrap;
        }

        &.active {
            background: black;
        }
        &:nth-of-type(2n):not(.active) {
            background: var(--ui-bg-color-2);
        }
        &:nth-of-type(2n+1):not(.active) {
            background: var(--ui-bg-color-3);
        }
        .action, .switch-action {
            user-select: none;
            cursor: pointer;
            margin: 3px;
            border-radius: 2px;
            border: solid 1.5px white;
            text-align: center;
            font-family: 'Raleway', 'Comic Sans MS', serif;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            padding: 5px;
            font-size: .8rem;
            text-transform: uppercase;

            &:hover {
                box-shadow: var(--box-shadow-small);
            }
        }
        .action {
            width: 120px;
            height: 60px;
            color: white;
            background: linear-gradient(hsl(20, 80%, 40%), hsl(355, 80%, 40%));
        }
        .switch-action {
            width: 130px;
            height: 60px;
            color: white;
            background: linear-gradient(hsl(195, 83%, 40%), hsl(220, 73%, 30%));
            border-radius: 20px;
        }
    }
    .step#brain-step {
        padding-bottom: 20px;
    }
    #toggles {
        margin-top: 15px;
    }
}
.speaker img.item-preview:hover {
    box-shadow: var(--box-shadow-small);
    cursor: pointer;
}
.confim-slider#camera-speed label {
    text-align: center;
    span {
        display: block;
        opacity: 0.5;
    }
}
.confim-slider#camera-speed .confim-slider-values {
    @media (max-width: 450px) {
        display: none;
    }
}
#cam-reset {
    img {
        margin-bottom: 15px;
        width: 70px;
        height: 70px;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
            box-shadow: white 0 0 5px;
        }
    }
}